# makeup.land API — OpenAPI 3.1.0
# Harvested VERBATIM from https://makeup.land/openapi.json on 2026-09-19 (HTTP 200, application/json, 149,073 bytes)
# and re-serialized to YAML without any content change. The byte-for-byte original is openapi/_original/makeup-land-openapi.json.
# Ownership: servers[] https://makeup.land, info.title 'makeup.land API', info.contact makeup.land — the provider's own host.
# servers[]: https://makeup.land is the provider's declared server and is CORRECT — every path carries the /api/v1 prefix,
# so the effective base is https://makeup.land/api/v1 (as apis.yml, the agent card and RFC 9728 metadata state). Not rewritten.
openapi: 3.1.0
info:
  title: makeup.land API
  version: 1.0.0
  summary: REST API for makeup.land — Hebrew-RTL professional cosmetics storefront with bilingual product data, ILS + ℳ-credit dual-tender pricing, and agent-friendly endpoints.
  description: |-
    All endpoints live under `/api/v1/`. Bearer tokens are issued from the admin panel and carry a scope (`full` / `register` / `giftcards` / `proposals`) plus an optional `read_only` flag. Phone-keyed endpoints (cart, gift cards list, payment links, best deals) accept a phone in the query string instead. The public `/gift-cards/validate` endpoint is the only fully unauthenticated route.

    Catalog is Hebrew-primary (he-IL); monetary values that end in `_cents` are integer agorot (100 = ₪1). Products can also be priceable in ℳ-credits — see `credit_price` on variants.

    ## Versioning & deprecation policy

    The current major version is `v1`, exposed under `/api/v1/`. Breaking changes always land under a new major version path (`/api/v2/`); additive changes (new optional fields, new endpoints, new error_code values) ship in-place on `v1` without notice.

    When an endpoint or field is scheduled for removal, responses include the `Deprecation: true` and `Sunset: <RFC 7231 HTTP-date>` headers (per RFC 8594 / RFC 9745) for at least 6 months before the sunset date, with a `Link: <docs>; rel="deprecation"` header pointing at the migration guide. No V1 endpoint is currently deprecated.

    ## Error handling

    Every error response carries `{ error: <human-readable>, error_code: <enum> }` plus situational extras (e.g. `available`, `requested` on `409 insufficient_stock`; `row_errors` on `422 validation_failed`). `error_code` is the stable contract — agents should branch on it. The `error` string may shift in copy or language.

    ## Idempotency

    Mutation endpoints (POST/PATCH/DELETE) accept an `Idempotency-Key` request header. Retries with the same key inside a 24h window are guaranteed to be either no-ops or replays of the original response, never duplicate effects. Recommended pattern: a UUIDv4 generated by the caller per logical operation.
  contact:
    name: makeup.land
    url: https://makeup.land
  license:
    name: Proprietary
    url: https://makeup.land/terms-of-service
servers:
- url: https://makeup.land
  description: Production
tags:
- name: Products
  description: Catalog browsing + semantic search
- name: Brands
  description: Brand directory
- name: Customers
  description: Customer CRUD + tags + opportunities + best deals
- name: Cart
  description: Phone-keyed cart read/write (ILS + ℳ-credits)
- name: Orders
  description: Customer order history
- name: Gift Cards
  description: Recipient cards, validation, redemption
- name: Payment Links
  description: Outstanding payment requests
- name: Register
  description: External registration intake + audit
- name: Proposals
  description: Catalog enrichment proposal intake
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ml_<hex24>
      description: API bearer token issued under `api_tokens`. Prefix `ml_` is required. Per-token scope and `read_only` flag govern endpoint + write access.
    phoneIdentifier:
      type: apiKey
      in: query
      name: phone
      description: Phone number in E.164 format (e.g. `+972501234567`) that selects which customer's resources to return. **NOT a credential** — endpoints that accept this also REQUIRE `bearerAuth`. The bearer authenticates the calling partner; the phone selects the customer. For POST/PATCH cart-mutation endpoints, the phone goes in the JSON body instead of the query string.
  schemas: {}
x-scopes:
  full: Full read + write access. Default scope for first-party tokens.
  register: Issue new customer registrations and read registrations belonging to the token's `registration_source`. Restricted to the `/register` and `/registrations` endpoints.
  giftcards: Redeem gift cards. Required only by `POST /gift-cards/redeem`. The public `/gift-cards/validate` endpoint requires no token.
  proposals: Submit catalog enrichment proposals to `/proposals`. Read-only against the rest of the catalog.
  read_only: Marker for tokens whose `read_only=true` flag rejects every write. Not negotiated at request time — set at token issuance.
paths:
  /api/v1/brands:
    get:
      operationId: listBrands
      summary: List all brands with product counts
      description: Returns every brand surfaced on the storefront, sorted server-side. Use the `slug` value to look up products via `/api/v1/products?brand=<slug>`.
      tags:
      - Brands
      security:
      - bearerAuth:
        - full
      responses:
        '200':
          description: Brand directory
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: English brand name
                        name_he:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Hebrew brand name
                        slug:
                          type: string
                          description: URL-safe slug, e.g. `bali-body`
                        logo:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Logo URL or null
                        product_count:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                      required:
                      - name
                      - name_he
                      - slug
                      - logo
                      - product_count
                      additionalProperties: false
                required:
                - brands
                additionalProperties: false
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
  /api/v1/products:
    get:
      operationId: listProducts
      summary: Browse / search the catalog
      description: |-
        The primary catalog endpoint. Supports full-text + semantic search, brand/tag filtering, ΔE-ranked shade matching, per-customer reward projection, and dual-tender pricing (ILS + ℳ-credits).

        **Auth tiers**
        - Tag-only or no-arg listing: bearer token optional.
        - `q` / `phone` / `include=inventory` / `relevant_to_phone`: full-scope   bearer token required.

        **Precedence**: `near_hex` ranking dominates `sort`; `sort` dominates the implicit relevance ranking.
      tags:
      - Products
      security:
      - bearerAuth:
        - full
      - {}
      parameters:
      - name: q
        in: query
        required: false
        description: Free-text query. Triggers semantic + lexical search (union, rerank). Requires a bearer token when supplied without `tag`.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Free-text query. Triggers semantic + lexical search (union, rerank). Requires a bearer token when supplied without `tag`.
          type: string
      - name: tag
        in: query
        required: false
        description: EXACT tag-string filter (no translation, no substring). Matching is case-insensitive and whitespace-trimmed — `PRO+` and `pro+` are the same tag; tags come back lowercase. Catalog tags are Hebrew (e.g. שפתון, ביוטי, עיניים, שפתיים). For natural-language category lookup use `q`, which routes through semantic search.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: EXACT tag-string filter (no translation, no substring). Matching is case-insensitive and whitespace-trimmed — `PRO+` and `pro+` are the same tag; tags come back lowercase. Catalog tags are Hebrew (e.g. שפתון, ביוטי, עיניים, שפתיים). For natural-language category lookup use `q`, which routes through semantic search.
          type: string
      - name: brand
        in: query
        required: false
        description: Brand identifier. Matches name / slug / Hebrew name with whitespace and punctuation normalised — `Bali Body`, `balibody`, `bali-body` all collapse.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Brand identifier. Matches name / slug / Hebrew name with whitespace and punctuation normalised — `Bali Body`, `balibody`, `bali-body` all collapse.
          type: string
      - name: phone
        in: query
        required: false
        description: When supplied, the response embeds the customer's reward projection (`reward_earned` per product). Requires full-scope bearer token.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: When supplied, the response embeds the customer's reward projection (`reward_earned` per product). Requires full-scope bearer token.
          type: string
          pattern: ^\+\d{6,15}$
      - name: in_stock
        in: query
        required: false
        description: String boolean. `true` filters to in-stock variants only.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: String boolean. `true` filters to in-stock variants only.
          type: string
          enum:
          - 'true'
          - 'false'
      - name: max_price
        in: query
        required: false
        description: Max ILS price filter (decimal, e.g. `99.99`)
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Max ILS price filter (decimal, e.g. `99.99`)
          type: number
          minimum: 0
      - name: max_credit_cents
        in: query
        required: false
        description: Max ℳ-credit price filter in agorot
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Max ℳ-credit price filter in agorot
          type: integer
          minimum: 0
          maximum: 9007199254740991
      - name: relevant_to_phone
        in: query
        required: false
        description: Re-rank results by relevance to this customer's past orders + tags. Requires full-scope bearer token.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Re-rank results by relevance to this customer's past orders + tags. Requires full-scope bearer token.
          type: string
          pattern: ^\+\d{6,15}$
      - name: include
        in: query
        required: false
        description: Comma-separated extra-field bundles. `inventory` adds `stock_by_location` and per-variant `available`. Requires full scope.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Comma-separated extra-field bundles. `inventory` adds `stock_by_location` and per-variant `available`. Requires full scope.
          type: string
      - name: limit
        in: query
        required: false
        description: Default 10. Capped at 50.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Default 10. Capped at 50.
          type: integer
          minimum: 1
          maximum: 50
      - name: page
        in: query
        required: false
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: integer
          minimum: 1
          maximum: 9007199254740991
      - name: near_hex
        in: query
        required: false
        description: Single `#RRGGBB` hex or comma-separated list (≤8). Returns products ranked by ΔE distance to the closest match.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Single `#RRGGBB` hex or comma-separated list (≤8). Returns products ranked by ΔE distance to the closest match.
          type: string
      - name: delta_e_max
        in: query
        required: false
        description: ΔE2000 cutoff used with `near_hex`. Default 80 single-hex, 200 multi-hex.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: ΔE2000 cutoff used with `near_hex`. Default 80 single-hex, 200 multi-hex.
          type: number
          minimum: 0
      - name: hue_family
        in: query
        required: false
        description: Comma-separated hue families. Post-filter — narrows results to products whose swatches fall in any of the listed families.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Comma-separated hue families. Post-filter — narrows results to products whose swatches fall in any of the listed families.
          type: string
      - name: sort
        in: query
        required: false
        description: Default `relevance`. `rating` uses a Bayesian shrinkage to avoid single-review products winning.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Default `relevance`. `rating` uses a Bayesian shrinkage to avoid single-review products winning.
          type: string
          enum:
          - price_asc
          - price_desc
          - popularity
          - rating
          - relevance
      - name: coverage
        in: query
        required: false
        description: How multi-value filters (tags, hue_family) combine. `all` (default) intersects; `any` unions.
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: How multi-value filters (tags, hue_family) combine. `all` (default) intersects; `any` unions.
          type: string
          enum:
          - all
          - any
      responses:
        '200':
          description: Paginated catalog page
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                          minLength: 1
                        title:
                          type: string
                        handle:
                          type: string
                          description: URL-safe slug
                        url:
                          type: string
                          format: uri
                        image_url:
                          anyOf:
                          - type: string
                            format: uri
                          - type: 'null'
                        images:
                          type: array
                          items:
                            type: string
                            format: uri
                        price:
                          type: number
                          minimum: 0
                          description: Amount in ILS as a decimal number (e.g. 12.50)
                        compare_at_price:
                          anyOf:
                          - type: number
                            minimum: 0
                            description: Amount in ILS as a decimal number (e.g. 12.50)
                          - type: 'null'
                        credit_price:
                          anyOf:
                          - type: integer
                            minimum: 0
                            maximum: 9007199254740991
                            description: Amount in integer agorot (100 = ₪1)
                          - type: 'null'
                        min_price:
                          type: number
                          minimum: 0
                          description: Amount in ILS as a decimal number (e.g. 12.50)
                        max_price:
                          type: number
                          minimum: 0
                          description: Amount in ILS as a decimal number (e.g. 12.50)
                        brand:
                          anyOf:
                          - type: object
                            properties:
                              slug:
                                anyOf:
                                - type: string
                                - type: 'null'
                              name:
                                anyOf:
                                - type: string
                                - type: 'null'
                            additionalProperties: false
                          - type: 'null'
                        product_type:
                          anyOf:
                          - type: string
                          - type: 'null'
                        in_stock:
                          type: boolean
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                        tags:
                          type: array
                          items:
                            type: string
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              variant_id:
                                type: string
                                minLength: 1
                              title:
                                anyOf:
                                - type: string
                                - type: 'null'
                              price:
                                type: number
                                minimum: 0
                                description: Amount in ILS as a decimal number (e.g. 12.50)
                              compare_at_price:
                                anyOf:
                                - type: number
                                  minimum: 0
                                  description: Amount in ILS as a decimal number (e.g. 12.50)
                                - type: 'null'
                              credit_price:
                                anyOf:
                                - type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                  description: Amount in integer agorot (100 = ₪1)
                                - type: 'null'
                                description: ℳ-credit price in agorot. `null` for ILS-only variants.
                              in_stock:
                                type: boolean
                              image_url:
                                anyOf:
                                - type: string
                                  format: uri
                                - type: 'null'
                              swatch:
                                type: object
                                properties:
                                  hex:
                                    type: string
                                    pattern: ^#[0-9a-fA-F]{6}$
                                    description: Swatch color
                                  variant_id:
                                    anyOf:
                                    - type: string
                                      minLength: 1
                                    - type: 'null'
                                  option_handle:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                required:
                                - hex
                                - variant_id
                                - option_handle
                                additionalProperties: false
                              inventory_policy:
                                type: string
                                enum:
                                - deny
                                - continue
                              available:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              stock_by_location:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                description: Optional per-location stock breakdown when `include=inventory`
                            required:
                            - variant_id
                            - title
                            - price
                            - compare_at_price
                            - credit_price
                            - in_stock
                            - image_url
                            additionalProperties: false
                        swatches:
                          type: array
                          items:
                            type: object
                            properties:
                              hex:
                                type: string
                                pattern: ^#[0-9a-fA-F]{6}$
                                description: Swatch color
                              variant_id:
                                anyOf:
                                - type: string
                                  minLength: 1
                                - type: 'null'
                              option_handle:
                                anyOf:
                                - type: string
                                - type: 'null'
                            required:
                            - hex
                            - variant_id
                            - option_handle
                            additionalProperties: false
                        average_rating:
                          anyOf:
                          - type: number
                            minimum: 0
                            maximum: 5
                          - type: 'null'
                        total_reviews:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        shade_match:
                          description: Present only when `near_hex` was supplied (single-hex form). Identifies the closest variant swatch on this product and its ΔE distance. Field name matches the `shade_match` agent-card skill so LLMs can predict the response shape from the skill catalog.
                          type: object
                          properties:
                            hex:
                              type: string
                              pattern: ^#[0-9a-fA-F]{6}$
                              description: The closest variant swatch's hex
                            delta_e:
                              type: number
                              minimum: 0
                              description: Perceptual distance (ΔE2000, 2dp) between `near_hex` and the matched swatch. Lower = closer.
                          required:
                          - hex
                          - delta_e
                          additionalProperties: false
                        reward_earned:
                          description: Per-customer projected reward in agorot. Present when `phone` supplied.
                          anyOf:
                          - type: integer
                            minimum: 0
                            maximum: 9007199254740991
                            description: Amount in integer agorot (100 = ₪1)
                          - type: 'null'
                        inventory_policy:
                          type: string
                          enum:
                          - deny
                          - continue
                        track_quantity:
                          type: boolean
                        stock_by_location:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          description: Optional per-location stock breakdown when `include=inventory`
                      required:
                      - product_id
                      - title
                      - handle
                      - url
                      - image_url
                      - images
                      - price
                      - compare_at_price
                      - credit_price
                      - min_price
                      - max_price
                      - brand
                      - product_type
                      - in_stock
                      - description
                      - tags
                      - variants
                      - swatches
                      - average_rating
                      - total_reviews
                      additionalProperties: false
                  total:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  page:
                    type: integer
                    exclusiveMinimum: 0
                    maximum: 9007199254740991
                  has_more:
                    type: boolean
                  partial:
                    type: boolean
                    description: True when post-filters (`hue_family`, etc.) underfilled the page — the catalog page below this one may contain more matches.
                  customer:
                    description: Echoed back when the `phone` param resolved to a customer.
                    type: object
                    properties:
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      tags:
                        type: array
                        items:
                          type: string
                      credit_balance:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: Amount in integer agorot (100 = ₪1)
                      credit_balance_formatted:
                        type: string
                    required:
                    - name
                    - tags
                    - credit_balance
                    - credit_balance_formatted
                    additionalProperties: false
                required:
                - products
                - total
                - page
                - has_more
                - partial
                additionalProperties: false
        '400':
          description: Invalid hex, missing required filter, or invalid parameter
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '401':
          description: Auth required for the requested fields but not supplied
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
  /api/v1/customers:
    get:
      operationId: getCustomer
      summary: Look up a customer by phone or email
      description: 'Exactly one of `phone` (E.164) or `email` must be supplied. Returns `customer: null` (200) when no match — the endpoint never 404s on lookup miss so polling clients can treat the response as a stable envelope.'
      tags:
      - Customers
      security:
      - bearerAuth:
        - full
      parameters:
      - name: phone
        in: query
        required: false
        description: Phone number in E.164 format, e.g. +972501234567
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          pattern: ^\+\d{6,15}$
          description: Phone number in E.164 format, e.g. +972501234567
      - name: email
        in: query
        required: false
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          format: email
          pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
      responses:
        '200':
          description: Customer or null
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  customer:
                    anyOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        first_name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        last_name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        email:
                          anyOf:
                          - type: string
                          - type: 'null'
                        phone:
                          anyOf:
                          - type: string
                          - type: 'null'
                        avatar_url:
                          anyOf:
                          - type: string
                            format: uri
                          - type: 'null'
                        tags:
                          type: array
                          items:
                            type: string
                        city:
                          anyOf:
                          - type: string
                          - type: 'null'
                        address:
                          anyOf:
                          - type: string
                          - type: 'null'
                        total_spent:
                          type: number
                          minimum: 0
                          description: Amount in ILS as a decimal number (e.g. 12.50)
                        total_orders:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        created_at:
                          type: string
                          description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                        last_activity_at:
                          anyOf:
                          - type: string
                            description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                          - type: 'null'
                        credit_balance:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                          description: ℳ-credit wallet balance in agorot
                        credit_balance_formatted:
                          type: string
                          description: e.g. `ℳ12.50`
                      required:
                      - id
                      - name
                      - first_name
                      - last_name
                      - email
                      - phone
                      - avatar_url
                      - tags
                      - city
                      - address
                      - total_spent
                      - total_orders
                      - created_at
                      - last_activity_at
                      - credit_balance
                      - credit_balance_formatted
                      additionalProperties: false
                    - type: 'null'
                required:
                - customer
                additionalProperties: false
        '400':
          description: Missing identifier or invalid phone
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '401':
          description: Missing bearer token
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '403':
          description: Scope mismatch
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
    post:
      operationId: upsertCustomer
      summary: Create or update a customer (bulk-import friendly)
      description: Creates the customer if missing, otherwise patches the existing row. Tag operations are additive — submitted tags are merged with the existing set (case-insensitively; stored lower-case); no tag removal happens here. Deliberately does NOT fire the welcome-bonus path; use `/api/v1/register` for trusted onboarding.
      tags:
      - Customers
      security:
      - bearerAuth:
        - full
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional client-generated idempotency token (recommended: UUIDv4). Retries with the same key within 24h replay the original response.'
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: 'Optional client-generated idempotency token (recommended: UUIDv4). Retries with the same key within 24h replay the original response.'
          type: string
          minLength: 1
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                phone:
                  type: string
                  pattern: ^\+\d{6,15}$
                  description: Phone number in E.164 format, e.g. +972501234567
                name:
                  description: Required when creating a new customer
                  type: string
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                tags:
                  description: Tags to union in. Tag identity is case-insensitive (`Pro` == `pro`); tags are stored normalized (trimmed, lower-case).
                  type: array
                  items:
                    type: string
              required:
              - phone
              additionalProperties: false
      responses:
        '200':
          description: Updated existing customer
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      first_name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      last_name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      email:
                        anyOf:
                        - type: string
                        - type: 'null'
                      phone:
                        anyOf:
                        - type: string
                        - type: 'null'
                      avatar_url:
                        anyOf:
                        - type: string
                          format: uri
                        - type: 'null'
                      tags:
                        type: array
                        items:
                          type: string
                      city:
                        anyOf:
                        - type: string
                        - type: 'null'
                      address:
                        anyOf:
                        - type: string
                        - type: 'null'
                      total_spent:
                        type: number
                        minimum: 0
                        description: Amount in ILS as a decimal number (e.g. 12.50)
                      total_orders:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      created_at:
                        type: string
                        description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                      last_activity_at:
                        anyOf:
                        - type: string
                          description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                        - type: 'null'
                      credit_balance:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: ℳ-credit wallet balance in agorot
                      credit_balance_formatted:
                        type: string
                        description: e.g. `ℳ12.50`
                    required:
                    - id
                    - name
                    - first_name
                    - last_name
                    - email
                    - phone
                    - avatar_url
                    - tags
                    - city
                    - address
                    - total_spent
                    - total_orders
                    - created_at
                    - last_activity_at
                    - credit_balance
                    - credit_balance_formatted
                    additionalProperties: false
                  created:
                    type: boolean
                    description: '`true` when the customer was newly created'
                required:
                - customer
                - created
                additionalProperties: false
        '201':
          description: Created new customer
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      first_name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      last_name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      email:
                        anyOf:
                        - type: string
                        - type: 'null'
                      phone:
                        anyOf:
                        - type: string
                        - type: 'null'
                      avatar_url:
                        anyOf:
                        - type: string
                          format: uri
                        - type: 'null'
                      tags:
                        type: array
                        items:
                          type: string
                      city:
                        anyOf:
                        - type: string
                        - type: 'null'
                      address:
                        anyOf:
                        - type: string
                        - type: 'null'
                      total_spent:
                        type: number
                        minimum: 0
                        description: Amount in ILS as a decimal number (e.g. 12.50)
                      total_orders:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      created_at:
                        type: string
                        description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                      last_activity_at:
                        anyOf:
                        - type: string
                          description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                        - type: 'null'
                      credit_balance:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: ℳ-credit wallet balance in agorot
                      credit_balance_formatted:
                        type: string
                        description: e.g. `ℳ12.50`
                    required:
                    - id
                    - name
                    - first_name
                    - last_name
                    - email
                    - phone
                    - avatar_url
                    - tags
                    - city
                    - address
                    - total_spent
                    - total_orders
                    - created_at
                    - last_activity_at
                    - credit_balance
                    - credit_balance_formatted
                    additionalProperties: false
                  created:
                    type: boolean
                    description: '`true` when the customer was newly created'
                required:
                - customer
                - created
                additionalProperties: false
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '401':
          description: Missing bearer token
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '403':
          description: Read-only token or scope mismatch
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '409':
          description: Phone conflict
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
  /api/v1/customers/{id}/tags:
    patch:
      operationId: patchCustomerTags
      summary: Add / remove / replace tags on a customer
      description: 'Order of application: `replace → remove → add`. Tags are matched case-insensitively (`Pro` == `pro`) and stored normalized (trimmed, lower-case); the final set is deduplicated. Emits `customer.tags_changed` on actual change.'
      tags:
      - Customers
      security:
      - bearerAuth:
        - full
      parameters:
      - name: id
        in: path
        required: true
        description: Customer ID
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: Customer ID
      - name: Idempotency-Key
        in: header
        required: false
        description: 'Optional client-generated idempotency token (recommended: UUIDv4). Retries with the same key within 24h replay the original response.'
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: 'Optional client-generated idempotency token (recommended: UUIDv4). Retries with the same key within 24h replay the original response.'
          type: string
          minLength: 1
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                add:
                  type: array
                  items:
                    type: string
                remove:
                  type: array
                  items:
                    type: string
                replace:
                  description: Map of `old_tag → new_tag` applied before remove/add
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: string
              additionalProperties: false
      responses:
        '200':
          description: Tags mutated
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  customer_id:
                    type: string
                    minLength: 1
                  tags:
                    type: array
                    items:
                      type: string
                  tags_added:
                    type: array
                    items:
                      type: string
                  tags_removed:
                    type: array
                    items:
                      type: string
                  tags_replaced:
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      type: string
                required:
                - customer_id
                - tags
                - tags_added
                - tags_removed
                - tags_replaced
                additionalProperties: false
        '400':
          description: No tag operations supplied
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '403':
          description: Read-only token or scope mismatch
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
  /api/v1/customers/{id}/opportunities:
    get:
      operationId: listCustomerOpportunities
      summary: Open M-Club opportunities + referral metadata for a customer
      description: Path param is phone in E.164 (URL-encoded) — named `id` for routing consistency with the sibling `/{id}/tags` route. Register-scoped tokens can only read opportunities for customers whose `registration_source_id` matches the token's source.
      tags:
      - Customers
      security:
      - bearerAuth:
        - full
        - register
      parameters:
      - name: id
        in: path
        required: true
        description: Customer phone, E.164 (URL-encode the `+`)
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          pattern: ^\+\d{6,15}$
          description: Customer phone, E.164 (URL-encode the `+`)
      responses:
        '200':
          description: Opportunities + referral metadata
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                      phone:
                        type: string
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      tags:
                        type: array
                        items:
                          type: string
                      credit_balance:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: Amount in integer agorot (100 = ₪1)
                      credit_balance_formatted:
                        type: string
                    required:
                    - id
                    - phone
                    - name
                    - tags
                    - credit_balance
                    - credit_balance_formatted
                    additionalProperties: false
                  opportunities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        kind:
                          type: string
                          description: e.g. `welcome_bonus`, `upgrade_pro`, `referral`
                        title_he:
                          type: string
                        description_he:
                          type: string
                        bonus_formatted:
                          type: string
                          description: e.g. `ℳ50`
                        cta_action:
                          anyOf:
                          - type: string
                          - type: 'null'
                        cta_url:
                          anyOf:
                          - type: string
                            format: uri
                          - type: 'null'
                        context:
                          type: object
                          properties: {}
                          additionalProperties: {}
                        available_at:
                          anyOf:
                          - type: string
                            description: ISO-8601 timestamp, e.g. 2026-05-23T12:34:56.789Z
                          - type: 'null'
                        sort_priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                      - id
                      - kind
                      - title_he
                      - description_he
                      - bonus_formatted
                      - cta_action
                      - cta_url
                      - context
                      - available_at
                      - sort_priority
                      additionalProperties: false
                  referral:
                    type: object
                    properties:
                      code:
                        type: string
                      share_url_wa:
                        type: string
                        format: uri
                      level1_count:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      total_earned_from_referrals:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: Amount in integer agorot (100 = ₪1)
                    required:
                    - code
                    - share_url_wa
                    - level1_count
                    - total_earned_from_referrals
                    additionalProperties: false
                required:
                - customer
                - opportunities
                - referral
                additionalProperties: false
        '400':
          description: Invalid phone
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '401':
          description: Missing bearer token
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '403':
          description: Scope mismatch or token's registration source is not linked to the customer
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '429':
          description: Rate limit exceeded (60/min per token)
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
      x-rate-limit:
        max: 60
        windowSeconds: 60
        keyedOn: token-id
  /api/v1/customers/best-deals:
    get:
      operationId: getCustomerBestDeals
      summary: Personalised best-deal candidates for a customer
      description: Computes redeem-strategy options (`all_ils` / `redeem_max` / `specials_only` / `specials_plus_redeem`) using the customer's wallet balance and tag-targeted offers. Returns curated deals ranked by `deal_score`.
      tags:
      - Customers
      security:
      - bearerAuth:
        - full
        phoneIdentifier: []
      parameters:
      - name: phone
        in: query
        required: true
        description: Phone number in E.164 format, e.g. +972501234567
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          pattern: ^\+\d{6,15}$
          description: Phone number in E.164 format, e.g. +972501234567
      responses:
        '200':
          description: Personalised offer set
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  wallet:
                    type: object
                    properties:
                      balance_cents:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                        description: Amount in integer agorot (100 = ₪1)
                      balance_formatted:
                        type: string
                    required:
                    - balance_cents
                    - balance_formatted
                    additionalProperties: false
                  retail_total_cents:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                    description: Amount in integer agorot (100 = ₪1)
                  target_cash_cents:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                    description: Amount in integer agorot (100 = ₪1)
                  candidates:
                    type: array
                    items:
                      type: object
                      properties: {}
                      additionalProperties: {}
                  options:
                    type: array
                    items:
                      type: object
                      properties: {}
                      additionalProperties: {}
                  recommendation:
                    anyOf:
                    - type: object
                      properties:
                        option_id:
                          type: string
                        savings_vs_all_ils_cents:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                      - option_id
                      - savings_vs_all_ils_cents
                      additionalProperties: false
                    - type: 'null'
                  curated_deals:
                    type: array
                    items:
                      type: object
                      properties: {}
                      additionalProperties: {}
                  curated_has_more:
                    type: boolean
                  sources_used:
                    type: array
                    items:
                      type: string
                required:
                - wallet
                - retail_total_cents
                - target_cash_cents
                - candidates
                - options
                - recommendation
                - curated_deals
                - curated_has_more
                - sources_used
                additionalProperties: false
        '400':
          description: Invalid phone
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
                - error
                additionalProperties: {}
                description: Standard V1 error envelope. Additional fields may be present (e.g. `available_cents`, `requested_cents` on 409 insufficient_credits, `row_errors` on 422 validation failures).
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message (en or he, copy may shift)
                  error_code:
                    description: Stable machine-readable code. Optional today (legacy callers depend on the `error` string field); will become required in the next API version.
                    type: string
                    enum:
                    - invalid_json
                    - invalid_quantity
                    - invalid_phone
                    - invalid_parameter
                    - product_unavailable
                    - variant_mismatch
                    - tender_unavailable
                    - customer_not_found
                    - line_item_not_found
                    - registration_not_found
                    - insufficient_stock
                    - insufficient_credits
                    - line_collision
                    - phone_conflict
                    - validation_failed
                    - scope_mismatch
                    - read_only_token
                    - rate_limited
                    - unauthorized
                    - internal_error
                    - endpoint_not_found
                required:
[...]
